<div class="mt-[70px] flex flex-col items-center justify-center h-[500px] select-none">
  <div class="flex flex-col -mt-32 bg-white px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-xl shadow-2xl w-full max-w-md  border-l-4 border-blue-600">
    <div class="font-medium self-center text-xl sm:text-2xl uppercase w-60 text-center p-6 text-blue-300">Sign in</div>
    <div class="mt-10">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="relative w-full mb-3">
          <%= f.email_field :email, class: "border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full", placeholder: "Email", style: "transition: all 0.15s ease 0s;" %>
          <small class="p-2 text-red-500">* Email</small>
        </div>
        <div class="relative w-full mb-3">
          <%= f.password_field :password, class: "border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full", placeholder: "Password", style: "transition: all 0.15s ease 0s;" %>
          <small class="p-2 text-red-500">* Password</small>
        </div>
        <div class="text-center mt-6">
          <%= f.submit 'sign in', class: "p-3 rounded-lg bg-blue-600 outline-none text-white shadow w-32 justify-center focus:bg-purple-700 hover:bg-purple-500" %>
        </div>
        <div class="flex flex-wrap mt-6">
          <div class="w-1/2 text-left">
            <%= link_to 'forgot password?', 'users/password/new', class: "text-blue-900 text-sm" %>
          </div>
          <div class="w-1/2 text-right">
            <%= link_to 'Sign up', new_user_registration_path, class: "text-blue-900 text-sm" %>
          </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
