<!DOCTYPE html>
<html>
  <head>
    <title>ServerLesson</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# tailwind css CDN import %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="w-full min-h-screen">
    <%# header %>
    <header>
      <%= render 'layouts/header' %>
    </header>

    <%# content %>
    <div>
      <%= yield %>
    </div>

  </body>
</html>
